body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Kumbh Sans;
    background-color: #f0eeeb;



}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
    margin-top: 24px;
    /* margin-inline: 18px; */
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    line-height: 26px;

    a {
        color: black;
        font-weight: 800;

        span {
            color: black;
            font-weight: 500;
            font-size: 18px
        }
    }
}

.header-navBar {
    display: none;
    gap: 15px;

    a {
        color: black;
        font-weight: 400;
        text-transform: uppercase;

    }

}

.header-navBar a:active {
    color: blue
}

.header-hamburgerBar {
    display: block;
}

.background-Font {

    margin-top: 32px;
    background-color: #e6dace;
}

.hero {
    margin-top: 64px;
    /* padding: 50px 430px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding-inline: 25px;


}

.hero-left {


    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-inline: auto;
    }
}

.hero-leftFirst {
    background-color: #f4ece6;
    padding: 34px 56px;
    border-radius: 5px 5px 0px 0px;

    h2 {
        text-align: center;
        padding-top: 24px;
    }

    h3 {
        font-weight: 400;
        padding-top: 24px;
        text-align: center;
    }
}

.hero-leftSecond {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;

    a {
        color: black;
        opacity: 80%;
    }
}


.hero-right {

    h1 {

        margin-top: 40px;
        font-size: 45px;
    }

    p {
        padding-top: 46px;
    }
}

.hero-rightButtons {

    padding-top: 24px;
    display: flex;
    gap: 20px;

    a {

        padding: 9px 25px;
        background-color: #fff;
        border-radius: 20px;
        text-transform: uppercase;
        color: rgb(98, 64, 64);
        font-weight: 700;

    }
}



.carousel {
    display: flex;
    justify-content: center;
    margin-block: 40px;

}

.slider-carousel {
    width: 800px;
    height: 400px;
    background-color: aqua;
    position: relative;
    overflow: hidden;

}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #e08989;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 17px);
}

.left-arrow {
    left: 10px;



}

.right-arrow {
    right: 10px;

}

.slider {
    width: fit-content;
    display: flex;
    height: 100%;
    position: relative;
    left: 0;
}

.slide {
    width: 800px;
    height: 400px;
    background-size: 800px 400px;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;

}

.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* justify-content: space-around; */
    background-color: #e6dace;
    margin-top: 25px;
    gap: 50px;
    padding-block: 25px;

    h4 {
        text-align: center;
        font-weight: 500;
        margin-top: 10px;

    }
}

.footer-left {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-left: 20px;

    a {
        color: black;
        opacity: 70%;
    }

    h3 {
        text-align: center;
        color: cadetblue;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

.footer-social {
    display: flex;
    gap: 20px;

    a {
        color: black;
    }
}



/* contact */

.contact-hero {
    margin-bottom: 210px;
}

.contact-hero h1 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.contact-heroOne {
    display: flex;
    justify-content: left;
    gap: 25px;
    padding: 30px 25px;
    margin-top: 50px;
    background-color: #f0eeeb;
    box-shadow: 1px -2px 1px 0px #e6dace inset;



    i {
        padding: 25px;
        border-radius: 5px;
        background-color: bisque;
    }

    a {
        text-align: center;
        margin-top: 20px;
        color: brown;
    }
}



/* Projelerim */

.myProject {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        text-align: center;
        font-size: 30px;
        font-weight: 700;

    }
}

.MyProject-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto;
    gap: 30px 80px;
    padding-inline: 15px;

    img {
        width: 300px;
        height: 300px;
    }
}

.Projects {
    position: relative;
    overflow: hidden;
    /* Hover elemanının taşmasını önlemek için */
    border-radius: 8px;
    /* Kenarları yuvarlamak isterseniz */
    transition: transform 0.3s ease-in-out;
    /* Hover sırasında animasyon için */
}

.Projects-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(152, 115, 100, 0.6);
    /* Hover sırasında karartma efekti */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    /* Hover sırasında opaklık geçişi */
    a {
        color: white;

    }
}

.Projects:hover .Projects-hover {
    opacity: 1;
}

/* tecrübelerim */

.myExperiences {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    div {
        margin-top: 30px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 25px 25px;
        margin-bottom: 40px;

        img {
            width: 100px;
            height: 100px;
        }
    }

}


/* MOBIL VERSION */

@media (width >=427px) {

    .header-navBar {
        display: flex;
    }

    .header-hamburgerBar {
        display: none;
    }

    .hero {
        margin-top: 64px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
        padding-inline: 125px;

    }

    /* contact */

    .footer {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* projelerim */
    .MyProject-container {
        display: grid;
        grid-template-columns: auto auto;
    }



}